fastapi
scalar_fastapi
pydantic[email]
uvicorn[standard]
python-dotenv
asyncpg

scikit-learn==1.8.0
joblib
pandas
numpy
matplotlib
seaborn
wordcloud

langchain
langchain-core
langchain-community
langchain-cohere
langchain-groq
langchain-ollama

pinecone
langchain-pinecone
rank_bm25
cohere
langdetect